body,
html {
  height: 100%;
  background: #222;
  color: white;
}

body {
  margin: 10px;
}

.flex-container {
  width: 1080px;
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.vpad {
  padding: 5px 0;
}

.label {
  margin-right: 5px;
}

#sketch-container {
  position: relative;
  z-index: 1;
  padding-right: 10px;
}

#sketch-container canvas {
  position: relative;
  z-index: 20;
}

#sketch-container video {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

video.mirror {
  transform: scale(-1, 1);
}

#controls-sidebar {
  width: 300px;
}

#p5-controls {
  flex-wrap: wrap;
}

#gallery-title {
  display: none;
}

#dat-container {
  padding-bottom: 25px;
  /* margin-bottom: 5px; */
}

#p5-controls {
  padding: 15px 0;
}

#log {
  width: 640px;
  padding-right: 10px;
  color: #aaa;
}
